<div id="<%= dom_id category %>">
   <div>
    <%= category.name %>
    <div>
      <%= link_to "Edit", edit_category_path(category) %>
      <%= link_to "Delete category", category_path(category),
                    data: { turbo_method: :delete, 
                    turbo_confirm: "Are you sure?" } %>
    </div>
  </div>
</div>
