<%= form_with(model: category) do |form| %>
  <%= @category.errors.full_messages.each do |error| %>
    <div>
      <%= error %>
    </div>

  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
