  <%= link_to product_path(product.id), class: 'product', 'data-turbo-frame': '_top' do %>
    <h2><%= product.title %></h2>
    <span><%= product.price %></span>
    <span><%= image_tag product.photo, width: 100 if product.photo.attached? %></span>
  <% end %> 
