<h1>Products:</h1>

<%= turbo_frame_tag 'home' do %>
    <%= form_with url: products_path, method: :get do |form| %>
        <%= form.text_field :query_text, placeholder: "Search",
            OnChange: 'this.form.requestSubmit()',
            value: params[:query_text] %>
        <%= form.number_field :min_price, placeholder: "min price",
            OnChange: 'this.form.requestSubmit()',
            value: params[:min_price] %>
        <%= form.number_field :max_price, placeholder: "max price",
            OnChange: 'this.form.requestSubmit()',
            value: params[:max_price] %>
        <%= form.select :order_by, options_for_select(Product::ORDER_BY.keys.map { |order| 
            [order, order]}, params[:order_by]), {}, { OnChange: 'this.form.requestSubmit()' } %>
    <% end %>

  <%= turbo_frame_tag "products-#{@pagy.page}", class: 'products' do %>
    <%= render partial: 'product', collection: @products %>
    <%= turbo_frame_tag "products-#{@pagy.next}", class: 'products', loading: :lazy if @pagy.next %>
  <% end %>
<% end %>