<h1 class='title' ><%= @product.title %></h1>
<p class='description' ><%= @product.description %></p>
<p class='price' ><%= number_to_currency(@product.price) %></p>
<span><%= image_tag @product.photo, 
          width: 200 if @product.photo.attached? %></span>

<div>
  <%= link_to "Edit product", edit_product_path(@product) %>
  <%= link_to "Delete product", product_path(@product),
      data: { turbo_method: :delete, 
              turbo_confirm: "Are you sure?" } %>
</div>
